@import "tailwindcss";

@theme {
  --color-brand-light: #60a5fa;
  --color-brand-dark: #1d4ed8;
  --color-bg-main: #0f172a;
  --color-stroke-main: #1e293b;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cbd5e1;
}

@layer components {
  .brand-color-light {
    @apply bg-brand-light;
  }
  .brand-color-dark {
    @apply bg-brand-dark;
  }
  .bg-color {
    @apply bg-bg-main;
  }
  .stroke-color {
    @apply border-stroke-main;
  }
  .text-color-primary {
    @apply text-text-primary;
  }
  .text-color-secondary {
    @apply text-text-secondary;
  }
}
@layer base {
  h1 {
    @apply text-[24px] leading-[135%] font-extrabold;
  }
  h2 {
    @apply text-[16px] leading-[140%] font-extrabold;
  }
  h3 {
    @apply text-[14px] leading-[140%] font-extrabold;
  }
  span {
    @apply text-[14px] leading-[145%] font-semibold;
  }
  p {
    @apply text-[14px] leading-[160%] font-normal;
  }
}

@layer images {
  .responsive-image {
    @apply h-full object-cover rounded-[4px];
  }
}
